.rainbow {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.rainbow:hover {
  background-image: linear-gradient(to left, red, orange, yellow, green, blue, purple);
  text-decoration: none;
}